<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador de Vacantes</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'images/magneto_logo.png' %}" alt="Magneto Logo" class="logo">
        <h2>Social Media (Choose Option)</h2>
    </header>

    <main class="container">
        <div class="social-media-buttons">
            <button class="social-button">
                <img src="{% static 'icons/x.png' %}" alt="X Icon">
            </button>
        </div>
        
        <div class="vacancy-input">
            <h3>Vacantes Seleccionadas</h3>
            <input type="text" id="vacancyInput" placeholder="Agrega IDs de vacantes (e.g., 1,2,3)">
            <button onclick="addVacancy()">Agregar Vacante</button>
        </div>

        <ul id="vacancyList"></ul>

        <button class="automate-button" onclick="automatizar()">Automatizar</button>
        
        <!-- Datos del Job Title desde Django -->
        <script>
            let jobData = {}; 

            try {
                jobData = JSON.parse(`{{ job_data|escapejs }}`);
                console.log('Datos de Job Data:', jobData);
            } catch (error) {
                console.error('Error al parsear jobData:', error);
            }
        </script>

        <!-- Incluir el archivo JS externo -->
        <script src="{% static 'js/main.js' %}"></script>
    </main>
</body>
</html>
